In [9]:
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv("Iris.csv")
data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
136,137,6.3,3.4,5.6,2.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
6,7,4.6,3.4,1.4,0.3,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
116,117,6.5,3.0,5.5,1.8,Iris-virginica

In [11]:
data = data.iloc[:,1:6]
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:
x = data.drop('Species',axis = 1)
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [13]:
y = data['Species']
y.sample(5)

23         Iris-setosa
97     Iris-versicolor
46         Iris-setosa
137     Iris-virginica
144     Iris-virginica
Name: Species, dtype: object

In [48]:
from sklearn.model_selection import cross_val_score

# K-nearest Algorithm

In [49]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
cross_val_score(knn,x,y,cv=5).mean()

0.9733333333333334

# Random Forest

In [50]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
cross_val_score(rf,x,y,cv=5).mean()

0.96

# Naive Bayers

In [51]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
cross_val_score(nb,x,y,cv=5).mean()

0.9533333333333334

# Support Vector Machine

In [52]:
from sklearn.svm import SVC
svc = SVC()
cross_val_score(nb,x,y,cv=5).mean()

0.9533333333333334